<template>
  <section class="section" style="">
    <div class="container animated fadeIn faster">
      <div class="columns">
        <div class="column">
          <div style="text-align: center;">
            <img class="logo" src="~@/assets/buildinglink.svg">
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <card title="About">
            <img slot="icon" src="~@/assets/info.svg">
            <table class="table is-fullwidth">
              <tr>
                <td>Version</td>
                <td>{{ version }}</td>
              </tr>
              <tr>
                <td>Last Updated</td>
                <td>{{ formatedDate }}</td>
              </tr>
            </table>
          </card>
        </div>
      </div>
    </div>
  </section>
</template>
<style scoped>
  .container {
    width: 500px;
  }
  .logo {
    width: 300px;
    margin: auto;
    padding: 25px 0;
  }
  tr > td:first-of-type {
    font-weight: bold;
  }
  tr > td:last-of-type {
    text-align: right;
  }
  tr:last-of-type > td {
    border-bottom: none;
  }
</style>
<script>
  import moment from 'moment-timezone'
  import redis from '../redis'
  import Card from '@/components/Card.vue'
  import { mapState } from 'vuex'
  
  export default {
    data () {
      return {
        version: null,
        updated: null
      }
    },
    name: 'about-us',
    components: { Card },
    computed: {
      ...mapState({
        timezone: state => state.AwareConfig.timezone
      }),
      formatedDate () {
        return moment(new Date(Number(this.updated))).tz(this.timezone).format('LLL')
      }
    },
    mounted () {
      redis.getValue('version', value => { this.version = value })
      redis.getValue('updated', value => { this.updated = value })
    }
  }
</script>
<style lang="scss">
</style>
