<template>
  <div class="animated fadeIn faster">
    <div class="container is-fluid" style="padding: 0">
      <div class="columns">
        <div class="column">
          <div class="notification is-warning" v-if="displayWarning">
            <button class="delete" @click="displayWarning = false"></button>
            <b>Warning!</b> You have entered the Admin Tools. For assistance, 
            call BuildingLink.com
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <h4 class="title is-4">Forget all saved Wi-Fi passwords</h4>
          <button class="button is-danger" @click="forgetWifi()">FORGET</button>
        </div>
        <div class="column">
          <h4 class="title is-4">Turn Wi-Fi On/Off</h4>
          <button class="button is-primary" @click="turnWifiOn()">ON</button>
          <button class="button is-danger" @click="turnWifiOff()">OFF</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { exec, spawn } from 'child_process'

export default {
  data () {
    return {
      displayWarning: true
    }
  },
  methods: {
    turnWifiOn () {
      exec('nmcli radio wifi on')
    },
    turnWifiOff () {
      exec('nmcli radio wifi off')
    },
    forgetWifi () {
      const pwd = spawn('pwd')

      pwd.stdout.on('data', data => {
        var uint8array = new TextEncoder('utf-8').encode(data)
        var string = new TextDecoder('utf-8').decode(uint8array)
        string = string.replace(/[\n\r]+/g, '') + '/forget_wifi.sh'

        exec(`bash ${string}`, (err, stdout, stderr) => {
          if (err) {
            console.error(err, stderr)
          }
        })
      })
    }
  }
}
</script>
