<template>
  <div>
    <div class="info" v-if="infos.length > 0">
      <div class="columns">
        <div class="column animated fadeOutUp" style="animation-delay: 10s;">
          <div class="card animated fadeInDown" v-for="info in infos">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-24x24">
                    <img src="~@/assets/status/info.svg">
                  </figure>
                </div>
                <div class="media-content">
                  <h2>{{ info.message }}</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert background animated fadeIn faster" v-if="alerts.length > 0">
      <div class="container">
        <div class="columns">
          <div class="column is-11" style="margin: auto;">
            <div class="card">
              <div class="card-content">
                <img class="animated infinite flash" src="~@/assets/status/danger.svg" />
                <h2><b>{{ alerts[0].message }}</b></h2>
              </div>
               <footer class="card-footer">
                <a href="#" class="card-footer-item"></a>
                <a href="#" class="card-footer-item" @click="confirm">OK</a>
              </footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
.alert {
  &.background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.35);
    z-index: 100;
    display: flex;
    align-items: center;
  }
  .card {
  }
  img {
    max-height: 20vh;
  }
  h2 {
    margin-top: 15px;
    text-align: center;
    font-size: 1.25em;
  }
}
.info {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9999;

  .card {
    margin-bottom: 15px;
    overflow: hidden;
    max-width: 500px;
  }
}
</style>
<script>
import { mapState } from 'vuex'

export default {
  data () {
    return {
    }
  },
  computed: {
    ...mapState({
      notifications: state => state.AwareConfig.notifications,
      alerts: state => state.AwareConfig.notifications.filter(notification => notification.type >= '1'),
      infos: state => state.AwareConfig.notifications.filter(notification => notification.type === '0')
    })
  },
  methods: {
    confirm () {
      this.$store.commit('SHIFT_NOTIFICATION_BY_TYPE', '1')
    }
  },
  mounted () {
  }
}
</script>

