<template>
  <section class="section" style="padding-top: 30px">
    <div class="container">
      <div class="columns animated fadeIn faster" v-if="historicalNotifications.length > 0 && loaded" v-for="announce in historicalNotifications">
        <div class="column">
          <div class="card">
            <div class="card-content">
              <div class="columns is-vcentered">
                <div class="column is-1 icon" style="text-align: center;">
                  <img v-if="announce.type === '1'" src="~@/assets/status/danger.svg" />
                  <img v-if="announce.type === '0'" src="~@/assets/status/info.svg">
                </div>
                <div class="column">
                  <p>{{ announce.message }}</p>
                </div>
                <div class="column is-3" style="text-align: right;">
                  <p>{{ ago(announce.timestamp) }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns" v-if="historicalNotifications < 1">
        <div class="column">
          <h1>There are no historical notifications.</h1>
        </div>
      </div>
    </div>
  </section>
</template>
<style lang="scss" scoped>
.card {
  .card-content {
    .icon {
      padding: 0;
      img {
        height: 30px;
      }
    }
  }
}
h1 {
  text-align: center;
  font-size: 1.5em;
}
</style>
<script>
  import { mapState } from 'vuex'
  import redis from '../redis'

  export default {
    data () {
      return {
        loaded: false
      }
    },
    computed: {
      ...mapState({
        historicalNotifications: state => state.AwareConfig.historicalNotifications
      })
    },
    methods: {
      ago (timestamp) {
        let delta = Math.round((+new Date - timestamp) / 1000) // eslint-disable-line

        const minute = 60
        const hour = minute * 60
        const day = hour * 24
        const week = day * 7

        let fuzzy

        if (delta < 30) {
          fuzzy = 'just then'
        } else if (delta < minute) {
          fuzzy = delta + ' seconds ago'
        } else if (delta < 2 * minute) {
          fuzzy = 'a minute ago'
        } else if (delta < hour) {
          fuzzy = Math.floor(delta / minute) + ' minutes ago'
        } else if (Math.floor(delta / hour) === 1) {
          fuzzy = '1 hour ago'
        } else if (delta < day) {
          fuzzy = Math.floor(delta / hour) + ' hours ago'
        } else if (delta < day * 2) {
          fuzzy = 'yesterday'
        } else if (delta < week) {
          fuzzy = Math.floor(delta / day) + ' days ago'
        } else {
          fuzzy = Math.floor(delta / week) + ' weeks ago'
        }
        return fuzzy
      }
    },
    mounted () {
      /* setTimeout(() => {
        this.$store.commit('SHIFT_NOTIFICATION_BY_TYPE', '0')
      }, 3000) */

      redis.fetchHistoricalNotifications(notifications => {
        this.$store.dispatch('addHistoricalNotifications', notifications)
        this.loaded = true
      })
    }
  }
</script>
