<template>
  <div class="buttonmenu">
    <router-link :to="goto ? goto : '#'" tag="button">
      <article class="box media is-center">
        <div class="media-content">
          <div class="content">
            <div v-if="greenBadge" class="custom-badge">
              <div class="has-background-success"></div>
              <span>{{ greenBadge }}</span>
            </div>
            <div v-if="redBadge" class="custom-badge right">
              <span>{{ redBadge }}</span>
              <div class="has-background-danger"></div>
            </div>
            <img id="logo" :src="require('@/assets/' + icon + '')" alt="electron-vue">
            <h2 class="has-text-centered">{{ title }}</h2>
          </div>
        </div>
      </article>
    </router-link>
  </div>
</template>
<style lang="scss" scoped>
  h2 {
    margin-bottom: 0 !important;
    font-size: 1.3rem !important;
  }
  .buttonmenu {
    text-align: center;
  }
  button {
    border: 0;
    border-radius: 0px;
  }
  .box {
    position: relative;
    max-width: 300px; 
    margin: auto;
    border-radius: 0px;
    padding: 1.05rem;
  }
  img {
    max-height: 65px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .custom-badge {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  .custom-badge > div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .custom-badge > * {
    vertical-align: middle;
  }
  .custom-badge > span {
    font-size: 1.1rem;
    margin-left: 5px;
  }
  .custom-badge.right > span {
    margin-left: 0px;
    margin-right: 5px;
  }
  .custom-badge.right {
    left: initial;
    right: 1rem;
  }
</style>
<script>
export default {
  props: ['icon', 'title', 'goto', 'greenBadge', 'redBadge']
}
</script>
