<template>
	<div class="card">
		<header class="card-header">
			<p class="card-header-title">
				<slot name="icon"></slot>
				<span>{{ title }}</span>
			</p>
		</header>
		<div class="card-content">
			<slot></slot>
		</div>
	</div>
</template>

<style scoped>
.card {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.card > .card-content {
	display: flex;
	flex-grow: 1;
	justify-content: center;
	flex-direction: column;
	font-size: 0.8rem;
	padding: 10px 15px;
}
.card.no-padding > .card-content {
	padding: 0;
}
.card-header {
	box-shadow: none !important;
	border-bottom: 1px solid #eee;
}
.card-header-title > img {
	height: 15px;
	margin-top: -2px;
	margin-right: 5px;
}
.card-header-title > span {
	font-size: 0.8rem;
}
.card-header-title > span, .card-header-title > img {
	vertical-align: middle;
}
</style>

<script>
  export default {
    props: ['src', 'title']
  }
</script>
