<template>
  <div v-if="show === true" class="popup-container">
    <div class="save-popup">
      <h3>Root Password:</h3>
			<div class="field">
				<div class="control">
					<input class="input" type="text" v-model="password" @input="onInputChange">
				</div>
			</div>
			<p v-if="error" class="has-text-danger error">{{ error }}</p>
			<button class="button is-primary" @click="closeApp()">Confirm</button>
			<button class="button" style="float:right" @click="close()">Close</button>
    </div>
    <simple-keyboard @onChange="onChange" @onKeyPress="onKeyPress" :input="password"></simple-keyboard>
  </div>
</template>

<style scoped>
p {
  display: block;
}
img {
  margin: auto;
}
.error {
	padding-bottom: 15px;
}
.popup-container {
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.save-popup {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -75%);

  background: #fff;
  padding:15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
}
</style>

<script>
import { mapMutations } from 'vuex'
import SimpleKeyboard from '@/components/SimpleKeyboard'
import { remote } from 'electron'

export default {
  name: 'SavePopup',
  props: [],
  data () {
    return {
      password: '',
      error: null,
      show: false
    }
  },
  components: {
    SimpleKeyboard
  },
  methods: {
    ...mapMutations(['setEditingFile']),
    onChange (input) {
      this.password = input
    },
    onKeyPress (button) {
      if (button === '{enter}') {
        this.closeApp()
      } else if (button === '%') {
        this.close()
      }
    },
    onInputChange (input) {
      this.password = input.target.value
    },
    display () {
      this.error = null
      this.show = true
    },
    close () {
      this.show = false
    },
    closeApp () {
      const { exec, spawn } = require('child_process')

      const pwd = spawn('pwd')
      pwd.stdout.on('data', (data) => {
        var uint8array = new TextEncoder('utf-8').encode(data)
        var string = new TextDecoder('utf-8').decode(uint8array)
        string = string.replace(/[\n\r]+/g, '') + '/password_check.sh'

        exec(`bash ${string} ${this.password}`, (err, stdout, stderr) => {
          if (err) {
            console.error(err, stderr)
          }
          if (stdout.includes('0')) {
            console.log('Closing the application ...')
            remote.getCurrentWindow().close()
          } else if (stdout.includes('1')) {
            this.error = 'Wrong Password'
          } else {
            this.error = 'Invalid response received.'
          }
        })
      })
    }
  }
}
</script>
