<template>
  <div v-if="show === true" class="popup-container">
    <div class="save-popup">
      <h4>{{ title }}</h4>
			<div class="field">
				<div class="control">
					<input class="input" type="text" v-model="value" @input="onInputChange">
				</div>
			</div>
			<button class="button is-primary" style="float:right" @click="close()">OK</button>
    </div>
    <simple-keyboard @onChange="onChange" @onKeyPress="onKeyPress" :input="value"></simple-keyboard>
  </div>
</template>

<script>
import SimpleKeyboard from '@/components/SimpleKeyboard'

export default {
  name: 'GeneralSetingsPopup',
  props: ['title'],
  data () {
    return {
      show: false,
      value: ''
    }
  },
  components: {
    SimpleKeyboard
  },
  methods: {
    onChange (input) {
      this.value = input
      this.$emit('update', this.value)
    },
    onKeyPress (button) {
      if (button === '{enter}' || button === '%') {
        this.close()
      }
    },
    onInputChange (input) {
      // this.fileName = input.target.value
    },
    display (value) {
      if (value) {
        this.value = value
      }
      this.show = true
    },
    close () {
      this.show = false
    }
  }
}
</script>

<style scoped>
.popup-container {
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.save-popup {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -75%);

  background: #fff;
  padding:15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
}
</style>

