<template>
  <div class="animated fadeIn faster">
		<div class="container is-fluid" style="padding: 0">
			<div class="columns" style="margin-top: 50px;">
				<div class="field column">
					<div class="control" v-on:click="editName()">
						<label class="label">Name</label>
						<input class="input is-large" type="text" placeholder="Name" v-model="name">
					</div>
				</div>
				<div class="field column">
					<div class="control" v-on:click="editVersion()">
						<label class="label">Version</label>
						<input class="input is-large" type="text" placeholder="Version" v-model="version">
					</div>
				</div>
				<div class="field column">
					<div class="control" v-on:click="editHostname()">
						<label class="label">Hostname</label>
						<input class="input is-large" type="text" placeholder="Hostname" v-model="hostname">
					</div>
				</div>
			</div>
		</div>
		<div class="container is-fluid" style="margin-top: 25px;">
			<div class="columns is-centered">
				<div class="column has-text-centered is-2">
						<button class="button is-primary is-medium" @click="apply()">APPLY</button>
				</div>
				<div class="column has-text-centered is-2">
						<button class="button is-danger is-medium" @click="closeApp()">CLOSE APP</button>
				</div>
			</div>
		</div>
    <general-settings-popup title="Name" ref="GeneralSettingsPopupName" v-on:update="updateName"/>
    <general-settings-popup title="Version" ref="GeneralSettingsPopupVersion" v-on:update="updateVersion"/>
    <general-settings-popup title="Hostname" ref="GeneralSettingsPopupHostname" v-on:update="updateHostname" />
    <close-app-popup ref="CloseAppPopup" v-on:update="updateRootPassword" />
  </div>
</template>
<style scoped>
.label {
  font-size: 1rem;
}
input::placeholder {
  color: #aaa;
}
</style>
<script>
import GeneralSettingsPopup from '@/components/GeneralSettingsPopup'
import CloseAppPopup from '@/components/CloseAppPopup'
import { remote } from 'electron'

export default {
  data () {
    return {
      name: '',
      version: '',
      hostname: '',
      rootpassword: ''
    }
  },
  components: {
    GeneralSettingsPopup,
    CloseAppPopup
  },
  methods: {
    updateName (value) { this.name = value },
    updateVersion (value) { this.version = value },
    updateHostname (value) { this.hostname = value },
    updateRootPassword (value) { this.rootpassword = value },
    editName () { this.$refs.GeneralSettingsPopupName.display(this.name) },
    editVersion () { this.$refs.GeneralSettingsPopupVersion.display(this.version) },
    editHostname () { this.$refs.GeneralSettingsPopupHostname.display(this.hostname) },

    setHostname () {
    },
    setVersion () {
      this.version = remote.app.getVersion()
    },
    apply () {
      this.$store.dispatch('updateName', this.name)
    },
    closeApp () {
      this.$refs.CloseAppPopup.display(this.hostname)
    }
  },
  mounted () {
    this.name = this.$store.state.AwareConfig.name
    this.setHostname()
    this.setVersion()
  }
}
</script>
