<template>
  <div id="wrapper">
    <div class="container animated fadeIn faster">
      <div class="columns">
        <ButtonMenu icon="status.svg" title="STATUS" class="column" goto="status" greenBadge="ON"/>
        <ButtonMenu icon="sensors.svg" title="SENSORS" class="column" greenBadge="6" redBadge="1" />
        <ButtonMenu icon="weather.svg" title="WEATHER" class="column" goto="weather" />
        <ButtonMenu icon="clock.svg" title="CLOCK" class="column" />
      </div>
      <div class="columns">
        <ButtonMenu icon="settings.svg" title="SETTINGS" class="column" goto="settings/general" />
        <ButtonMenu icon="speaker.svg" title="ANNUNCIATOR" class="column" goto="annunciator" />
        <ButtonMenu icon="solution.svg" title="SOLUTIONS" class="column" />
        <ButtonMenu icon="aware.svg" title="ABOUT US" class="column" goto="aboutus" />
       </div>
    </div>
  </div>
</template>

<script>
  import ButtonMenu from '@/components/ButtonMenu'

  export default {
    name: 'landing-page',
    components: { ButtonMenu },
    methods: {
      open (link) {
        this.$electron.shell.openExternal(link)
      }
    }
  }
</script>

<style lang="scss">

  #wrapper {
    padding: 1.5rem;
    width: 100vw;
  }

  #logo {
    height: auto;
    width: 220px;
  }

  main {
    display: flex;
    justify-content: space-between;
  }

  main > div { flex-basis: 50%; }

  .left-side {
    display: flex;
    flex-direction: column;
  }

  .welcome {
    color: #555;
    font-size: 23px;
    margin-bottom: 10px;
  }

  .title {
    color: #2c3e50;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }

  .title.alt {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .doc p {
    color: black;
    margin-bottom: 10px;
  }

  .doc button {
    font-size: .8em;
    cursor: pointer;
    outline: none;
    padding: 0.75em 2em;
    border-radius: 2em;
    display: inline-block;
    color: #fff;
    background-color: #4fc08d;
    transition: all 0.15s ease;
    box-sizing: border-box;
    border: 1px solid #4fc08d;
  }

  .doc button.alt {
    color: #42b983;
    background-color: transparent;
  }
</style>
