
<template>
  <div>
    <div v-if="type === 'wifi'" class="badge" style="display: inline-block;">
      <img src="~@/assets/wifi-logo.svg" />
    </div>
    <div v-else class="badge" style="display: inline-block;">
      <img src="~@/assets/gsm-logo.svg" />
    </div>
    <WifiIcon :quality="quality" class="wifi" />
  </div>
</template>
<style scoped>
img {
  width: 50px;
}
.wifi {
  max-width: 42px;
  margin-left: 5px;
  display: inline-block;
}
</style>
<script>
import WifiIcon from '@/components/WifiIcon'
import si from 'systeminformation'
import wifi from 'node-wifi'
import cron from 'cron'
import { mapState } from 'vuex'

export default {
  data () {
    return {
    }
  },
  components: {
    WifiIcon
  },
  methods: {
    update () {
      this.$store.dispatch('updateQuality')
      this.$store.dispatch('updateType')
    }
  },
  computed: {
    ...mapState({
      quality: state => state.Wifi.quality,
      type: state => state.Wifi.type
    })
  },
  mounted () {
    si.networkInterfaceDefault(defaultInterface => {
      if (!defaultInterface) {
        console.error(`Error: No default network interface.`)
      }

      this.defaultInterface = defaultInterface
      wifi.init({ interface: defaultInterface })
      this.update()

      const cronEx = '0/3 * * * * *' // CRON Expression: Update every 3 seconds
      const job = new cron.CronJob(cronEx, this.update, null, true)

      job.start()
    })
  }
}
</script>
