<template>
  <div class="progressBar">
      <div class="progressBarContainer" :style="{ background: '#EEE', borderColor: color }">
        <div class="progressBarValue" :style="{ width: percentage + '%', background: color }"></div>
      </div>
    </div>
</template>
<style>
.contentContainer {
  background: #efefef;
  padding: 20px;
  margin: 15vh auto;
  border-radius: 10px;
}
.progressBar {
  margin-bottom: 1.66em;
}
.progress-block:last-of-type .progressBar {
  margin-bottom: 0;
}
.progressBar h5 {
  font-size: 21px;
  font-size: 1.1em;
  text-transform: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-bottom: 7px;
  margin-bottom: .33em;
}
.progressBarContainer {
  width: 100%;
  height: 20px;
  height: 0.8em;
  background: #ccc;
  background: rgba(8,102,220,.2);
  overflow: hidden;
  border-radius: 50px;
}
.progressBarValue {
  height: 0.8em;
  float: left;
  background: #888;
  background: rgba(8,102,220,.75);
}
</style>
<script>
  const colorThreshold = (value, thresolds, colors) => {
    if (value >= thresolds[1]) {
      return colors[2]
    } if (value >= thresolds[0]) {
      return colors[1]
    }

    return colors[0]
  }

  export default {
    props: ['minvalue', 'value', 'maxvalue', 'middleThreshold', 'highThreshold'],
    methods: {
    },
    mounted () {
    },
    computed: {
      percentage () {
        let value
        if (!this.maxvalue) {
          value = this.value
        } else if (!this.minvalue) {
          value = this.value / this.maxvalue * 100
        } else {
          value = (this.value - this.minvalue) / (this.maxvalue - this.minvalue) * 100
        }

        if (value < 0) {
          value = 0
        } else if (value > 100) {
          value = 100
        }
        return value
      },
      color () {
        return colorThreshold(this.percentage, [this.middleThreshold, this.highThreshold], ['rgb(26, 249, 161)', 'rgb(255, 217, 0)', 'rgb(255, 136, 136)'])
      },
      backgroundColor () {
        return colorThreshold(this.percentage, [this.middleThreshold, this.highThreshold], ['#0F04', '#F604', '#F004'])
      }
    }
  }
</script>
