<template>
  <div v-if="show === true" class="popup-container">
    <div class="save-popup">
      <h3>WiFi Password:</h3>
			<div class="field">
				<div class="control">
					<input class="input" type="text" v-model="password" @input="onInputChange">
				</div>
			</div>
			<p v-if="error" class="has-text-danger error">{{ error }}</p>
			<button class="button is-primary" @click="connect()">Connect</button>
			<button class="button" style="float:right" @click="close()">Close</button>
    </div>
    <simple-keyboard @onChange="onChange" @onKeyPress="onKeyPress" :input="password"></simple-keyboard>
  </div>
</template>

<style scoped>
img {
  margin: auto;
}
.error {
	padding-bottom: 15px;
}
.popup-container {
  position: fixed;
  background: rgba(0,0,0,0.5);
  z-index: 9999999;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
.save-popup {
  position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%, -75%);

  background: #fff;
  padding:15px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  border-radius: 5px;
}
</style>

<script>
import { mapMutations } from 'vuex'
import wifi from 'node-wifi'
import si from 'systeminformation'
import SimpleKeyboard from '@/components/SimpleKeyboard'

export default {
  name: 'SavePopup',
  props: ['ssid', 'file_data', 'file_name'],
  data () {
    return {
      password: '',
      error: null,
      show: false
    }
  },
  components: {
    SimpleKeyboard
  },
  methods: {
    ...mapMutations(['setEditingFile']),
    onChange (input) {
      this.password = input
    },
    onKeyPress (button) {
      if (button === '{enter}') {
        this.connect()
      } else if (button === '%') {
        this.close()
      }
    },
    connect () {
      this.error = null

      si.networkInterfaceDefault(defaultInterface => {
        if (!defaultInterface) {
          console.error(`No default network interface.`)
        }

        this.defaultInterface = defaultInterface
        wifi.init({ interface: defaultInterface })

        // Connect to the selected network
        wifi.disconnect(() => {
          wifi.connect({
            ssid: this.ssid,
            password: this.password
          }, () => {
            // Check the connection
            wifi.getCurrentConnections((err, currentConnections) => {
              if (err) {
                console.error(err)
                this.error = 'Invalid Password'
              } else {
                this.close()
              }
            })
          })
        })
      })
    },
    onInputChange (input) {
      this.password = input.target.value
    },
    display () {
      this.error = null
      this.show = true
    },
    close () {
      this.show = false
    }
  }
}
</script>
