<template>
	<div class="">
		<div class="container is-fluid" style="padding-top: 1.5rem; padding-bottom: 1.5rem">
			<div class="columns">
				<div class="column">
					<router-link to="/settings/general">
						<button class="button is-dark" v-bind:class="{ 'is-primary': $route.path === '/settings/general' }">
							General
						</button>
					</router-link>
				</div>
				<div class="column">
					<router-link to="#">
						<button class=" button is-dark">
							Ethernet
						</button>
					</router-link>
				</div>
				<div class="column">
					<router-link to="/settings/wifi">
						<button class=" button is-dark" v-bind:class="{ 'is-primary': $route.path === '/settings/wifi' }">
							Wi-Fi
						</button>
					</router-link>
				</div>
				<div class="column">
					<router-link to="/settings/timezone" v-bind:class="{ 'is-primary': $route.path === '/settings/wifi' }">
						<button class=" button is-dark">
							Time Zone
						</button>
					</router-link>
				</div>
				<div class="column">
					<router-link to="#">
						<button class=" button is-dark">
							Device Pairing
						</button>
					</router-link>
				</div>
				<div class="column">
					<router-link to="/settings/admin">
						<button class=" button is-dark" v-bind:class="{ 'is-primary': $route.path === '/settings/admin' }">
							Admin Tools
						</button>
					</router-link>
				</div>
			</div>
			<div class="columns">
				<div class="column">
					<router-view></router-view>
				</div>
			</div>
		</div>
	</div>
</template>
<style scoped>
button {
  width: 100%;
  font-size: 0.9rem;
}
.menu {
  background: #ccc;
}
</style>
<script>

export default {
  components: {}
}
</script>
