<template>
  <div :class="keyboardClass"></div>
</template>

<script>
import Keyboard from 'simple-keyboard'
import 'simple-keyboard/build/css/index.css'
import layout from 'simple-keyboard-layouts/build/layouts/english'

export default {
  name: 'SimpleKeyboard',
  props: {
    keyboardClass: {
      default: 'simple-keyboard',
      type: String
    },
    input: {
      type: String
    }
  },
  data: () => ({
    keyboard: null,
    shiftPressed: false
  }),
  mounted () {
    this.keyboard = new Keyboard({
      onChange: this.onChange,
      onKeyPress: this.onKeyPress,
      layout: layout,
      display: {
        '{enter}': 'Enter',
        '{bksp}': 'Backspace',
        '{shift}': 'Shift',
        '{lock}': 'Lock Shift',
        '{tab}': 'Tab',
        '{space}': 'Space'
      }
    })

    this.keyboard.setInput(this.input)
  },
  methods: {
    onChange (input) {
      this.$emit('onChange', input)
    },
    onKeyPress (button) {
      this.$emit('onKeyPress', button)

      if (button === '{shift}' || button === '{lock}') this.handleShift()

      if (button === '{shift}') {
        this.shiftPressed = true
      } else if (this.shiftPressed === true) {
        this.shiftPressed = false
        this.keyboard.setOptions({
          layoutName: 'default'
        })
      }
    },
    handleShift () {
      let currentLayout = this.keyboard.options.layoutName
      let shiftToggle = currentLayout === 'default' ? 'shift' : 'default'

      this.keyboard.setOptions({
        layoutName: shiftToggle
      })
    }
  },
  watch: {
    input (input) {
      this.keyboard.setInput(input)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.simple-keyboard {
  z-index: 999999;
  position: fixed;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}
#save-btn {
  color: #fff;
  background: #d25bf9;
  border: 0;
}
#close-btn {
  color: #fff;
  background: #2d2d2d;
  border: 0;
}
</style>
