<template>
	<section class="section">
		<div class="container animated fadeIn faster">
			<div class="columns">
				<div class="column">
					<card title="General">
						<img slot="icon" src="~@/assets/info.svg">
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Name</span>
									<span class="tag">{{ os.hostname }}</span>
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">OS</span>
									<span class="tag">{{ os.platform }}</span>
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Distribution</span>
									<span class="tag">{{ os.distro }}</span>
								</div>
							</div>
						</div>
						<div class="field is-grouped is-grouped-multiline">
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Kernel</span>
									<span class="tag is-info">{{ versions.kernel }}</span>
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">NPM</span>
									<span class="tag is-info">{{ versions.npm }}</span>
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">NodeJS</span>
									<span class="tag is-info">{{ versions.node }}</span>
								</div>
							</div>
							<div class="control">
								<div class="tags has-addons">
									<span class="tag is-dark">Uptime</span>
									<span class="tag is-info">{{ time.uptime }}</span>
								</div>
							</div>
						</div>
					</card>
				</div>
			</div>
			<div class="columns">
				<div class="column is-three-fifths">
					<card title="Statistics">
						<img slot="icon" src="~@/assets/stats.svg">
						<div class="columns">
							<div class="column">
								<div class="progress-block">
									<h4>CPU Usage</h4>
									<p><span>{{ cpuload }}%</span> {{ rawcpuload }} ticks</p>
									<ProgressBar
										:value="cpuload"
										:minvalue="0"
										:maxvalue="100"
										:middleThreshold="50"
										:highThreshold="85"
									/>
								</div>
							</div>
							<div class="column">
								<div class="progress-block">
									<h4>CPU Temperature</h4>
									<p><span>{{ temp.C }}°C</span> {{ temp.F }}°F</p>
									<ProgressBar
										:value="temp.C"
										:minvalue="0"
										:maxvalue="100"
										:middleThreshold="65"
										:highThreshold="80" 
									/>
								</div>
							</div>
						</div>
						<div class="columns">
							<div class="column">
								<div class="progress-block">
									<h4>Disk Usage</h4>
	    <p><span>{{ fs.use ? fs.use.toFixed(1) : '' }}%</span> {{ formatBytes(fs.used, 1) }} / {{ formatBytes(fs.size, 1) }}</p>
									<ProgressBar
										:value="fs.use"
										:minvalue="0"
										:maxvalue="100"
										:middleThreshold="60"
										:highThreshold="80" 
									/>
								</div>
							</div>
							<div class="column">
								<div class="progress-block">
									<h4>Memory Usage</h4>
									<p><span>{{ (memory.used / memory.total * 100).toFixed(1) }}%</span>
										{{ formatBytes(memory.used,1) }} / {{ formatBytes(memory.total,1) }}</p>
									<ProgressBar
										:value="memory.used"
										:minvalue="0"
										:maxvalue="memory.total"
										:middleThreshold="60"
										:highThreshold="85"
									/>
								</div>
							</div>
						</div>
					</card>
				</div>
				<div class="column">
					<card title="Network" class="no-padding">
						<img slot="icon" src="~@/assets/wifi-3.svg">
						<table class="table is-fullwidth" v-if="isConnectedToNetwork">
							<tr>
								<td>IP</td>
								<td>{{ iface.ip4 }}</td>
							</tr>
							<tr>
								<td>MAC</td>
								<td>{{ iface.mac }}</td>
							</tr>
							<tr>
								<td>Type</td>
								<td>{{ wifi_type }}</td>
							</tr>
							<tr>
								<td>Upload</td>
								<td>{{ this.formatBytes(network.tx_sec) }}/s</td>
							</tr>
							<tr>
								<td>Download</td>
								<td>{{ this.formatBytes(network.rx_sec) }}/s</td>
							</tr>
						</table>
						<div v-else-if="isConnectedToNetwork !== null" style="text-align: center">
							Not connected to a network.<br>
							<router-link to="/settings/wifi">
								<button class="button is-primary" style="margin:1rem 0">WiFi settings</button>
							</router-link>
						</div>
					</card>
				</div>
			</div>
		</div>
	</section>
</template>
<style scoped>
h2 {
  font-size: 1.5em;
}
h4 {
  font-size: 1rem;
}
h5, p {
  display: inline-block;
  vertical-align: middle;
}
h4 {
	font-weight: bold;
}
tr > td:first-of-type {
	font-weight: bold;
}
tr > td:last-of-type {
	text-align: right;
}
tr:last-of-type > td {
	border-bottom: none;
}
table td {
	font-size: 0.9rem;
}
.section {
	padding: 1.5rem;
}
.tag {
	font-size: 0.8rem;
}
.progress-block p {
	width: 100%;
	text-align: right;
	font-size: 0.9rem;
}
.progress-block p span {
	float: left;
	text-align: left;
}
.field.is-grouped {
	justify-content: center;
}
.tile {
	text-align: center;
}
.tile > .subtitle {
	font-weight: bold;
	margin-bottom: 0.8rem;
}
</style>
<script>
  import si from 'systeminformation'
  import cron from 'cron'
  import { mapState } from 'vuex'
  import ProgressBar from '@/components/ProgressBar.vue'
  import Card from '@/components/Card.vue'

  // Convert from Seconds to HH:MM:SS
  const toHHMMSS = secs => {
    var secNum = parseInt(secs, 10)
    var hours = Math.floor(secNum / 3600)
    var minutes = Math.floor(secNum / 60) % 60
    var seconds = secNum % 60

    return [hours, minutes, seconds]
      .map(v => v < 10 ? '0' + v : v)
      .filter((v, i) => v !== '00' || i > 0)
      .join(':')
  }

  export default {
    data () {
      return {
        cpuload: 0.0,
        rawcpuload: 0.0,
        temp: {},
        memory: {},
        time: {},
        fs: {},
        iface: null,
        network: null,
        defaultIface: null
      }
    },
    computed: {
      ...mapState({
        os: state => state.System.os,
        versions: state => state.System.versions,
        wifi_type: state => state.Wifi.type
      }),
      isConnectedToNetwork () {
        return this.network === null ? null : !!(this.defaultIface) && !!(this.network) && !!(this.iface)
      }
    },
    components: { ProgressBar, Card },
    methods: {
      formatBytes (a, b) {
        a = a || 0
        if (a < 0 || Math.ceil(a) === 0) a = 0
        if (a === 0) return '0 Bytes'

        const c = 1024
        const d = b || 2
        const e = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        const f = Math.floor(Math.log(a) / Math.log(c))

        return parseFloat((a / Math.pow(c, f)).toFixed(d)) + ' ' + e[f]
      },
      updateCPU () {
        si.currentLoad(data => {
          this.cpuload = data.currentload.toFixed(1)
          this.rawcpuload = data.raw_currentload.toFixed(0)
        })
        si.cpuTemperature(data => {
          this.temp = {
            C: data.main.toFixed(1),
            F: ((data.main * 1.8) + 32).toFixed(1)
          }
        })
      },
      updateRAM () {
        si.mem(data => {
          this.memory = {
            total: data.total,
            free: data.free,
            used: data.used
          }
        })
      },
      updateUptime () {
        const time = si.time()
        this.time = {
          uptime: toHHMMSS(time.uptime)
        }
      },
      updateFS () {
        si.fsSize(data => {
          this.fs = {
            use: data[0].use,
            used: data[0].used,
            size: data[0].size
          }
        })
      },
      updateNetwork () {
        si.networkInterfaceDefault(defaultIface => {
          this.defaultIface = defaultIface
          si.networkInterfaces(data => {
            this.iface = data.reduce((acc, iface) => {
              return iface.iface === this.defaultIface ? iface : acc
            }, null)
          })
          si.networkStats(this.defaultIface, data => {
            this.network = data[0]
          })
        })
      },
      // Update everything
      update () {
        this.updateCPU()
        this.updateRAM()
        this.updateUptime()
        this.updateFS()
        this.updateNetwork()
      }
    },
    mounted () {
      this.update()

      const cronEx = '0/3 * * * * *' // CRON Expression: Update every 3 seconds
      const job = new cron.CronJob(cronEx, this.update, null, true)

      job.start()
    }
  }
</script>
