<template>
  <div>
    <p>{{ value }}</p> 
  </div>
</template>
<style lang="scss">
</style>
<script>
  import cron from 'cron'
  import { mapState } from 'vuex'

  export default {
    name: 'navtime',
    data () {
      return {
      }
    },
    computed: {
      ...mapState({
        value: state => state.AwareConfig.time
      })
    },
    methods: {
      update () {
        this.$store.dispatch('updateTime')
      }
    },
    mounted () {
      const cronEx = '* * * * *' // CRON Expression: Update every minutes
      const job = new cron.CronJob(cronEx, this.update, null, true)

      job.start()
      this.update()
    }
  }
</script>

