<template>
	<section id="wrapper" class="animated fadeIn faster">
		<div class="container">
			<div class="columns">
				<div class="column">
					<card title="General">
						<img slot="icon" src="~@/assets/weather/cloudy-1.svg">
						<div class="columns weather-icon">
							<div class="column" style="padding-bottom:0">
								<img v-if="weather.weather[0].main === 'Clouds'" src="~@/assets/weather/cloudy-1.svg" /> 
								<img v-else-if="weather.weather[0].main === 'Thunderstorm'" src="~@/assets/weather/thunder.svg" /> 
								<img v-else-if="weather.weather[0].main === 'Drizzle'" src="~@/assets/weather/thunder.svg" /> 
								<img v-else-if="weather.weather[0].main === 'Rain'" src="~@/assets/weather/rain.svg" /> 
								<img v-else-if="weather.weather[0].main === 'Snow'" src="~@/assets/weather/snowflake.svg" /> 
								<img v-else-if="weather.weather[0].main === 'Fog'" src="~@/assets/weather/fog.svg" /> 
								<img v-else src="~@/assets/weather/sun.svg" /> 
							</div>
						</div>
						<div class="columns weather-temp">
							<div class="column" style="padding: 0">
								<p>{{ toFahrenheit(weather.main.temp) }} °F</p>
							</div>
						</div>
						<div class="columns" style="text-align: center;">
							<div class="column limit-temp">
								<p style="color: #00E;">
									MINIMUM<br>
									<span>{{ toFahrenheit(weather.main.temp_min) }} °F</span>
								</p>
							</div>
							<div class="column limit-temp">
								<p style="">
									FEELS LIKE<br>
									<span>{{ toFahrenheit(weather.main.feels_like) }} °F</span>
								</p>
							</div>
							<div class="column limit-temp">
								<p style="color: #E00;">
									MAXIMUM<br>
									<span>{{ toFahrenheit(weather.main.temp_max) }} °F</span>
								</p>
							</div>
						</div>
					</card>
				</div>
				<div class="column">
					<card title="Details">
						<img slot="icon" src="~@/assets/info.svg">
						<table class="table is-fullwidth">
							<tr>
								<td>Humidity</td>
								<td>{{ weather.main.humidity }}%</td>
							</tr>
							<tr>
								<td>Wind</td>
								<td>{{ weather.wind.speed }} mph</td>
							</tr>
							<tr>
								<td>Pressure</td>
								<td>{{ weather.main.pressure }} hPa</td>
							</tr>
							<tr>
								<td>Sunrise</td>
								<td>{{ new Date(weather.sys.sunrise*1000).toTimeString().split(' ')[0] }}</td>
							</tr>
							<tr>
								<td>Sunset</td>
								<td>{{ new Date(weather.sys.sunset*1000).toTimeString().split(' ')[0] }}</td>
							</tr>
						</table>
					</card>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
  import cron from 'cron'
  import OpenWeatherMapHelper from 'openweathermap-node'
  import axios from 'axios'

  import Card from '@/components/Card.vue'

  const fetchCurrentLocation = async () => {
    try {
      const response = await axios.get('http://ip-api.com/json')
      return response.data
    } catch (e) {
      console.error(e)
    }
  }

  export default {
    name: 'weather',
    data () {
      return {
        weather: {
        }
      }
    },
    components: { Card },
    methods: {
      getCurrentIcon (weather) {
        let filename
        console.log(weather)
        switch (weather) {
          case 'Clouds': filename = 'rain-1'
            break
        }
        return '~@/assets/weather/' + filename + '.svg'
      },
      toFahrenheit (temp) {
        return ((temp - 273.15) * (5 / 9) + 32).toFixed(2)
      },
      toCelsius (temp) {
        return (temp - 273.15).toFixed(2)
      },
      fetchCurrentWeather (location) {
        const helper = new OpenWeatherMapHelper({
          APPID: '345a7373b206d283a76189ba24723fc2'
        })
        helper.getCurrentWeatherByGeoCoordinates(location.lat, location.lon, (err, currentWeather) => {
          if (err) {
            console.log(err)
          } else {
            console.log(currentWeather)
            this.weather = currentWeather
          }
        })
      },
      updateWeather: async function () {
        try {
          const location = await fetchCurrentLocation()
          console.log(location)
          this.weather = await this.fetchCurrentWeather(location)
          console.log(location, this.weather)
        } catch (e) {
          console.error(e)
        }
      }
    },
    mounted () {
      this.updateWeather()

      const cronEx = '0/3 * * * * *' // CRON Expression: Update every 3 seconds
      const job = new cron.CronJob(cronEx, this.updateWeather(), null)
      job.start()
    }
  }
</script>

<style lang="scss" scoped>

.weather-icon {
  img {
    margin: auto;
    max-height: 140px;
    opacity: 0.75;
  }
}
td {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
tr > td:first-of-type {
  font-weight: bold;
}
tr > td:last-of-type {
  text-align: right;
}
tr:last-of-type > td {
  border-bottom: none;
}
.weather-temp {
  align-self: center;

  p {
    font-size: 5em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
  }
}
.limit-temp {
  font-size: 1.1em;

  span {
    font-size: 1.3em;
  }
}
</style>
