<template>
  <div class="">
    <div class="container is-fluid is-multiline fadeIn faster" style="padding: 0">
      <div class="columns is-multiline">
        <div class="column is-half animated fadeIn faster"
           v-for="network in networks"
           v-on:click="connectNetwork(network.ssid)">
          <div class="network box">
            <div class="wifi-icon-container">
              <WifiIcon :quality="network.quality" />
            </div>
            <div>
              <h2><b>{{ network.ssid }}</b></h2>
              <p>Security: {{ network.security || 'None' }}</p>
            </div>
            <span v-if="network.isCurrent" class="current tag is-primary">
              CURRENT
            </span>
          </div>
        </div>
      </div>
    </div>
    <save-popup ref="savepopup" :ssid="selected.ssid" />
  </div>
</template>
<style scoped>
h2 {
  font-size: 1.25em !important;
}
.wifi {
  max-width: 70px;
}
.wifi-icon-container {
  margin-right: 15px;
  width: 50px;
  height:100%;
}
.current {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.network {
  position: relative;
  display: flex;
  align-items: center;
  background: white;
  padding: 1.5rem;
  border-radius: 0;
}
</style>
<script>
  import si from 'systeminformation'
  import wifi from 'node-wifi'
  import cron from 'cron'
  import WifiIcon from '@/components/WifiIcon'
  import SavePopup from '@/components/SavePopup.vue'

  export default {
    data () {
      return {
        defaultInterface: null,
        networks: [],
        selected: {
          ssid: ''
        },
        currentConnection: null
      }
    },
    components: {
      WifiIcon,
      SavePopup
    },
    methods: {
      scanNetworks () {
        // The wifi.scan function from the `node-wifi` library
        // actually doesn't do a scan (nmcli device wifi rescan),
        // but just a list (nmcli device wifi list), you can see this in
        // ~/node_modules/node-wifi/src/linux-scan.js, line 14.
        // That is why we need to manually launch a rescan before
        // the library "scan" function return the output of the nmcli list.
        const { exec } = require('child_process')
        /*
          TODO: Catch possible errors
          We just assume for the moment that nmcli is properly installed,
          and that this software is executed on a Linux machine.
        */
        exec('nmcli device wifi rescan')

        this.updateCurrentConnection()

        wifi.scan((err, networks) => {
          if (err) {
            console.error(err)
          } else {
            if (this.currentConnection) {
              networks.map(network => {
                if (network.bssid === this.currentConnection.bssid) {
                  network.isCurrent = true
                } else {
                  network.isCurrent = false
                }
              })
            }

            this.networks = networks
          }
        })
      },
      connectNetwork (ssid) {
        this.selected.ssid = ssid
        this.$refs.savepopup.display()
      },
      updateCurrentConnection () {
        wifi.getCurrentConnections((err, currentConnections) => {
          if (err) {
            console.error(err)
          } else if (currentConnections.length !== 0) {
            this.currentConnection = currentConnections[0]
          } else {
            this.currentConnection = null
          }
        })
      }
    },
    mounted () {
      si.networkInterfaceDefault(defaultInterface => {
        if (!defaultInterface) {
          console.error(`Error: No default network interface.`)
        }
        this.defaultInterface = defaultInterface
        wifi.init({ interface: defaultInterface })

        this.updateCurrentConnection()

        const cronEx = '0/3 * * * * *' // CRON Expression: Update every 3 seconds
        const job = new cron.CronJob(cronEx, this.scanNetworks, null)

        job.start()

        this.scanNetworks()
      })
    }
  }
</script>
