<template>
  <div class="wifi">
    <img v-if="signalQuality === -1" src="~@/assets/wifi-none.svg" width="112" height="28">
    <img v-if="signalQuality === 0" src="~@/assets/wifi-0.svg" width="112" height="28">
    <img v-if="signalQuality === 1" src="~@/assets/wifi-1.svg" width="112" height="28">
    <img v-if="signalQuality === 2" src="~@/assets/wifi-2.svg" width="112" height="28">
		<img v-if="signalQuality === 3" src="~@/assets/wifi-3.svg" width="112" height="28">
  </div>
</template>
<style scoped>
.wifi {
  position: relative;
}
</style>
<script>
  export default {
    data () {
      return {
        strength: 0
      }
    },
    props: ['quality'],
    computed: {
      signalQuality () {
        if (this.quality < 0) {
          return -1
        } else if (this.quality < 30) {
          return 0
        } else if (this.quality < 40) {
          return 1
        } else if (this.quality < 60) {
          return 2
        } else {
          return 3
        }
      }
    }
  }
</script>
