<template>
  <div id="app">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <router-link class="navbar-start navbar-location" to="/" style="display:block; margin-top:3px">
        <div class="navbar-item">
          <img src="~@/assets/left-arrow.svg" style="display:inline" v-if="$route.path !== '/'">
          <span style="margin:0 10px; display:inline-table">{{ $route.name }}</span>
        </div>
      </router-link>
      <div class="navbar-brand navbar-center">
        <div class="navbar-item">
          <img src="~@/assets/aware-logo.svg" class="image" style="padding: 4px">
        </div>
      </div>
      <div class="navbar-end">
        <router-link class="navbar-item navbar-item-wifi" to="/settings/wifi">
          <NavbarWifi />
        </router-link>
        <router-link class="navbar-item" to="/settings/timezone">
          <span style="margin-right: 10px">{{ styledTimezone }}</span>
          <Time />
        </router-link>
      </div>
    </nav>
    <div id="current-page" :class="{ 'no-scroll': $route.meta.noScroll }">
      <router-view></router-view>
    </div>
    <Alert />
  </div>
</template>

<script>
  import NavbarWifi from './components/NavbarWifi'
  import Time from '@/components/Time'
  import Alert from '@/components/Alert'
  import { mapState } from 'vuex'

  export default {
    name: 'aware',
    components: {
      NavbarWifi,
      Time,
      Alert
    },
    computed: {
      ...mapState({
        timezone: state => state.AwareConfig.timezone
      }),
      styledTimezone () {
        const zones = this.timezone.split('/')
        return zones[zones.length - 1].slice(0, 17).replace('_', ' ')
      }
    },
    mounted () {
      this.$store.dispatch('updateOS')
      this.$store.dispatch('updateVersions')
    }
  }
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

* {
  font-family: 'Barlow', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,body {
  background: #f7f7f7 !important;
  font-family: 'Barlow' !important;
  overflow-y: hidden !important;
}
#app {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#current-page {
  overflow-x: hidden;
  overflow-y: auto;
}
#current-page.no-scroll {
  overflow-y: hidden;
}
.navbar > * {
  flex: 1 1 0;
}
.navbar a.navbar-item:focus,.navbar a.navbar-item:hover {
  background-color: initial;
  color: #4a4a4a;
}
.navbar-brand .image {
  margin: auto;
}
.navbar-item img {
  vertical-align: middle;
}
.navbar-item-wifi {
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}
.navbar-location {
  /*  border-right: 1px solid #eee; */
}
.navbar-center {
  flex-direction: column;
  justify-content: center;
}
</style>
